In [1]:
import pandas as pd

df = pd.read_csv('train.csv')
df

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
0,2,10006,462822612,L,CC,61.0,0,0,0,NaN,0,NaN,29,False
1,2,10006,1459541791,L,MLO,61.0,0,0,0,NaN,0,NaN,29,False
2,2,10006,1864590858,R,MLO,61.0,0,0,0,NaN,0,NaN,29,False
3,2,10006,1874946579,R,CC,61.0,0,0,0,NaN,0,NaN,29,False
4,2,10011,220375232,L,CC,55.0,0,0,0,0.0,0,NaN,21,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54701,1,9973,1729524723,R,MLO,43.0,0,0,0,1.0,0,C,49,False
54702,1,9989,63473691,L,MLO,60.0,0,0,0,NaN,0,C,216,False
54703,1,9989,1078943060,L,CC,60.0,0,0,0,NaN,0,C,216,False
54704,1,9989,398038886,R,MLO,60.0,0,0,0,0.0,0,C,216,True
54705,1,9989,439796429,R,CC,60.0,0,0,0,0.0,0,C,216,True

In [6]:
df.cancer.value_counts()

cancer
0    53548
1     1158
Name: count, dtype: int64

In [14]:
new_df = df[df.cancer == 1]
new_df = pd.concat((new_df, df[df.cancer == 0].sample(new_df.shape[0])))
new_df

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
87,1,10130,388811999,L,MLO,71.0,1,1,1,0.0,0,B,49,False
88,1,10130,613462606,L,CC,71.0,1,1,1,0.0,0,B,49,False
89,1,10130,1360338805,L,CC,71.0,1,1,1,0.0,0,B,49,False
90,1,10130,1672636630,L,MLO,71.0,1,1,1,0.0,0,B,49,False
190,1,10226,461614796,L,MLO,71.0,1,1,1,0.0,0,C,49,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11383,1,22218,1304914689,L,CC,59.0,0,0,0,1.0,0,B,49,False
32536,1,4491,744581314,R,CC,54.0,0,0,0,1.0,0,C,49,False
25360,2,37108,82469503,L,MLO,63.0,0,0,0,NaN,0,NaN,48,False
6747,1,17316,607601080,R,MLO,45.0,0,0,0,1.0,0,A,49,False
28515,1,40437,1962699765,L,MLO,56.0,0,0,0,1.0,0,C,49,False

In [31]:
new_df.sample(len(new_df))

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
12344,1,2317,1935829544,L,MLO,48.0,0,0,0,NaN,0,B,49,False
42762,1,56100,105423190,L,MLO,57.0,0,1,0,0.0,0,B,49,True
11149,1,21957,1415477144,R,CC,79.0,1,1,0,0.0,0,B,93,False
18871,1,29919,1361547019,R,CC,58.0,1,1,1,0.0,0,B,49,False
50843,2,64821,261440807,R,CC,65.0,1,1,1,NaN,0,NaN,48,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21256,1,32565,114723726,R,MLO,43.0,0,0,0,0.0,0,B,49,True
34982,2,47541,1588747447,R,CC,41.0,0,0,0,0.0,0,NaN,29,True
19781,2,30972,691948060,R,MLO,71.0,0,0,0,NaN,0,NaN,29,False
15286,2,26259,472064471,L,CC,47.0,0,0,0,0.0,0,NaN,48,True
17245,2,28262,1202406526,R,MLO,67.0,0,0,0,NaN,0,NaN,29,False

In [32]:
new_df.sample(len(new_df)).to_csv("balanced_train.csv")

In [33]:
files = new_df[['patient_id', 'image_id']]

In [34]:
files.to_csv("file_names.csv")